.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
  width: min(70ch, 100% - 20vw);
  margin-inline: auto;
}

li {
  list-style: none;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

a {
  color: #091a31;
}

a:hover {
  text-decoration: underline;
  color: #cc76a1;
}

body {
  font-family: Outfit, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0px;
  background-color: #ffffff;
  color: #091a31;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.6;
  font-size: 18px;
}
h2 {
  color: #cc76a1;
}
header,
footer {
  position: sticky;
  top: 0;
  color: #ffffff;
  padding: 10px;
  padding-top: 2vh;
  text-align: center;
  background-color: #091a31;
}

footer {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 2vh;
  padding-top: 1vh;
  margin-top: 5vh;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

svg {
  vertical-align: middle;
  margin-right: 8px;
  color: #cc76a1;
}

.lucide-map-pin {
  color: #65743a;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 2vh;
}

@media (min-width: 600px) {
  .container {
    width: min(70ch, 100% - 24vw);
  }
}

.lucide-shell {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

section h1 {
  margin-bottom: 10px;
  margin-top: 20px;
}

section h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

 h4 {
  margin-bottom: 0px;
  font-weight: 300;
  color: #65743a;
}

#curriculum-vitae .job {
  border-bottom: 1px solid #091a31;
  padding-bottom: 30px;
}

#curriculum-vitae ol li h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

#curriculum-vitae ol li p {
  margin-bottom: 0px;
  margin-top: 5px;
}

#curriculum-vitae ol li h5 {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}

#curriculum-vitae div {
  margin-top: 50px;
  margin-bottom: 30px;
}

#curriculum-vitae > div:first-of-type {
  margin-top: 20px;
}

#curriculum-vitae p {
  margin-bottom: 15px;
}

#curriculum-vitae .job-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #65743a;
}

#curriculum-vitae .job p {
  margin-bottom: 20px;
  font-weight: 300;
}

#curriculum-vitae .job ol li {
  list-style: disc;
}

#skills h3 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 500;
}

#skills p {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#skills span {
    font-weight: 400;
}

img {
    max-width: 250px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}


#projets ul li p {
    margin-top: 0px;
    margin-bottom: 50px;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer svg:hover {
    color: #ffffff;
}