/* navbar */
.navbar {
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    min-height: 80px;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}

/* scaffolding */
body {
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.55;
    color: #000000;
    background-color: #f4f4f4;
}

/* buttons  */
.btn {
    font-weight: 400;
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.55;
    border-radius: 0;
}

/* labels */
.label {
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: upercase;
}

/* pager*/
.pager {
    margin: 24px 0;
    border-top: solid 1px #cdcdcd;
    padding-top: 24px;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* pagination */
.pagination {
    margin: 24px 0;
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    border-radius: 0;
}

.sidebar-heading  {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    letter-spacing: 0.1em; 
    text-transform: none;
      
}
.small-navbar-heading {
    font-family: 'Caveat', cursive;
    text-transform: none;
    font-size: 30px;
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Kanit", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-weight: regular;
    text-transform: none;

}

h1,
.h1 {
  font-size: 25px;
  font-weight: 700;
  
}
h2,
.h2 {
  font-size: 38px;
}
h3,
.h3 {
  font-size: 32px;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 18px;
  font-weight: 700;
  color: #379392;
}
h5,
.h5 {
  font-size: 16px;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: 700;
}
.box-masonry h4 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.1em;
  }